In [5]:
import matplotlib.pyplot as plt
import sys  
sys.path.insert(0, '/Users/szczekulskij/side_projects/long-term-analysis-of-pws')
from src.generate_df import get_data_df
from src.graphs import graph_agg_metric_over_nr_sessions, graph_based_on_time_bucket
from src.anovas import bucketed_anova
import pandas as pd

In [23]:
df.surname.unique()

array(['1.Gasek', '2.Kołodziejska', '4.Krzysztoń', '5.Wąsowicztwarz',
       '6.Wąsowiczszyja', '7.Kowal', '8.Wierny', '9.Będzinowskitwarz',
       '10.Będzinowskiszyja', '11.Cicha-kwiecień', '12.Januszewska',
       '13.Zborowski', '14.Spica', '15.Czop', '16.Zuterek',
       '17.Górszczak', '18.Mincberg', '19.Góźdź', '20.Jaroch',
       '21.Dębowska', '23.Szlachta', '24.Kołomyjec', '25.Sosnowska',
       '26.Jeż', '27.Trojanowicz', '28.Podlesiński', '29.Jankowski',
       '31.Marianowska', '32.Fil', '33.Szołdra', '34.Sienniak',
       '35.Twardzik', '36.Kręt', '37.Milewski', '38.Kos',
       '39.Pękałatwarz', '41.Dobaczewska', '44.Chłopek', '45.Krakowiecka',
       '46.Polis', '47.Piotrowska', '48.Lasisz', '49.Sobotka',
       '50.Adriańczyk', '51.Cieśla', '52.Pietrzaktwarz+szyja',
       '54.Antosik', '55.Gierz', '57.Jadczyk', '59.Jurgielewicz',
       '63.Markowska-Cebernik', '66.Świder', '67.Świerczyńska',
       '69.Wojas', '70.Wójcicki'], dtype=object)

In [58]:
def new_func(metric = "total_GCE", time_break = 180):
    def save_metric_gen(series):
        try : 
            return float(series)
        except:
            return "None"

    df = get_data_df(metric = metric)
    output_df = pd.DataFrame(columns = ["surname","1st_visit", "2nd_visit", "last_visit_before_break", "break_time", "1st_visit_after_break","2nd_visit_after_break", "break_time_between_new_visits",])
    for surname in df.surname.unique():
        sub_df = df.loc[df.surname == surname]
        max_break = sub_df.time.max()
        if max_break >= time_break:
            break_visit_nr = int(sub_df.loc[sub_df.time == max_break].visit_nr)
            data = {}
            data["surname"] = surname
            data["1st_visit"] = save_metric_gen(sub_df.loc[sub_df.visit_nr == 1][metric])
            data["2nd_visit"] = save_metric_gen(sub_df.loc[sub_df.visit_nr == 1][metric])
            data["last_visit_before_break"] = save_metric_gen(sub_df.loc[sub_df.visit_nr == break_visit_nr-1][metric])
            data["break_time"] = max_break
            data["1st_visit_after_break"] = save_metric_gen(sub_df.loc[sub_df.visit_nr == break_visit_nr][metric])
            data["break_time_between_new_visits"] = save_metric_gen(sub_df.loc[sub_df.visit_nr == break_visit_nr+1].time)
            data["2nd_visit_after_break"] = save_metric_gen(sub_df.loc[sub_df.visit_nr == break_visit_nr+1][metric])
        output_df = output_df.append(data, ignore_index = True)
    output_df.drop_duplicates(inplace=True)
    return output_df

In [59]:
new_func(metric = "inbetween_GCE", time_break = 270)

,surname,1st_visit,2nd_visit,last_visit_before_break,break_time,1st_visit_after_break,2nd_visit_after_break,break_time_between_new_visits
0,1.Gasek,10.43594,10.43594,10.43594,958,-1.909880,-3.15234,70.0
1,2.Kołodziejska,66.95658,66.95658,-59.5536,294,76.672720,None,None
11,13.Zborowski,23.20953,23.20953,-0.14709,1867,-85.567000,56.01192,42.0
12,14.Spica,25.31307,25.31307,-24.886,280,36.375130,-13.787,182.0
15,17.Górszczak,26.53933,26.53933,-27.3676,1647,-129.042000,55.83894,31.0
26,29.Jankowski,-27.7512,-27.7512,-27.7512,361,-48.379300,None,None
27,31.Marianowska,16.5297,16.5297,-5.0572,616,19.487480,4.536483,53.0
28,32.Fil,None,None,None,362,-26.536700,None,None
31,35.Twardzik,31.37223,31.37223,4.667338,1860,-214.000000,47.0,39.0
34,38.Kos,None,None,None,1074,-15.546200,31.57774,28.0
48,57.Jadczyk,16.084445,16.084445,-0.920291,891,-13.051557,19.888,56.0
50,63.Markowska-Cebernik,-27.912637,-27.912637,55.214771,398,-39.328248,None,None

In [60]:
new_func(metric = "total_GCE", time_break = 270)

,surname,1st_visit,2nd_visit,last_visit_before_break,break_time,1st_visit_after_break,2nd_visit_after_break,break_time_between_new_visits
0,1.Gasek,10.435942,10.435942,10.435942,958,8.725376,5.848092,70.0
1,2.Kołodziejska,66.95658,66.95658,71.03264,294,93.242700,None,None
7,9.Będzinowskitwarz,None,None,None,350,51.249500,None,None
8,10.Będzinowskiszyja,None,None,None,350,64.665790,None,None
11,13.Zborowski,23.20953,23.20953,76.94844,1867,57.223900,81.18361,42.0
12,14.Spica,25.31307,25.31307,42.7743,280,63.590230,58.57042,182.0
15,17.Górszczak,26.53933,26.53933,70.22114,1647,31.793990,69.8795,31.0
26,29.Jankowski,-27.7512,-27.7512,-27.7512,361,-89.556300,None,None
27,31.Marianowska,16.5297,16.5297,59.13645,616,67.099720,68.59224,53.0
28,32.Fil,19.24227,19.24227,81.82628,362,77.003580,None,None
31,35.Twardzik,31.37223,31.37223,84.35648,1860,51.000000,74.0,39.0
34,38.Kos,None,None,45.7095,1074,37.269400,57.0783,28.0
40,47.Piotrowska,None,None,None,532,0.263395,None,None
48,57.Jadczyk,16.084445,16.084445,39.88096,891,32.034490,45.55147,56.0
50,63.Markowska-Cebernik,-27.912637,-27.912637,42.714032,398,20.184464,None,None